body {
    margin: 0;
      font-family: 'Noto Sans KR'; 
     /* font-family: 'Courier New', Courier, monospace; */

}

a {
    text-decoration: none;
    color:white;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color:white;

}
.navbar_logo i {
    color: #b65ca7;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0%;
}

.navbar_menu li {
    padding: 4px 6px;  
}

.navbar_menu li:hover {
    background-color: wheat;
    border-radius: 4px;
}
.navbar_links {
    list-style: none;
    color:white;
    display: flex;
    font-size: 9px;
    
}

.navbar_links li {
    padding: 2px 2px;

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {
    
}

